.inline-toggle-icon {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	margin-left: 0.6em;
	margin-right: 0.2em;
	padding: 0.5em;
	position: relative;
	border: none;
}

.inline-toggle-icon::after {
	content: '';
	color: var(--text-muted);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 0;
	height: 0;
}

.inline-toggle-icon-closed::after {
	border-top: 0.25em solid transparent;
	border-bottom: 0.25em solid transparent;
	border-left: 0.4em solid currentColor;
}

.inline-toggle-icon-open::after {
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
	border-top: 0.4em solid currentColor;
}

.inline-toggle-content {
	margin-left: var(--list-indent);
	display: block;
	width: 100%;
}
